<section class="bg-contact-us">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 contact-us-intro-box">
        <h1 class="mat-display-1">Votre avis nous intéresse !</h1>
        <p>Vous êtes un un particulier ou un professionnel</p>
        <div>
          Vous voulez :
          <ul>
            <li>Poser question sur notre activité</li>
            <li>Déclarer un bug sur notre site</li>
            <li>Proposer une fonctionalité que vous souhaitez avoir</li>
          </ul>
        </div>
        <p>
          Merci de nous laisser un petit mot
        </p>
        <hr>
      </div>


      <div class="col-sm-6 col-md-7 col-lg-8 col-xl-9 contact-us-form-box">
        <h1>Votre message</h1>
        <form>
          <div class="input-group mb-3">
            <span class="input-group-text">
              &nbsp;
              <fa-icon icon="user"></fa-icon>
              &nbsp;
            </span>
            <input class="form-control" type="text" placeholder="Nom et prénom" id="contact-us-name"
              name="contact-us-name">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">
              &nbsp;
              <fa-icon icon="phone"></fa-icon>
              &nbsp;
            </span>
            <input class="form-control" type="text" placeholder="Téléphone" id="contact-us-phone"
              name="contact-us-phone">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">
              &nbsp;
              <fa-icon icon="at"></fa-icon>
              &nbsp;
            </span>
            <input class="form-control" type="email" placeholder="Email" id="contact-us-email" name="contact-us-email">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">
              &nbsp;
              <fa-icon icon="envelope"></fa-icon>
              &nbsp;
            </span>
            <textarea class="form-control" rows="7" id="contact-us-message" name="contact-us-message"></textarea>
          </div>

          <button class="btn btn-contact-us-send" type="submit">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
</section>








<section class="bg-contact-us">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 contact-us-intro-box">
        <h1 class="mat-display-1">Votre avis nous intéresse !</h1>
        <p>Vous êtes un un particulier ou un professionnel</p>
        <div>
          Vous voulez :
          <ul>
            <li>Poser question sur notre activité</li>
            <li>Déclarer un bug sur notre site</li>
            <li>Proposer une fonctionalité que vous souhaitez avoir</li>
          </ul>
        </div>
        <p>
          Merci de nous laisser un petit mot
        </p>
        <hr>
      </div>


      <div class="col-sm-6 col-md-7 col-lg-8 col-xl-9 contact-us-form-box">
        <h1>Votre message</h1>
        <form>
          <div class="input-group mb-3">
            <span class="input-group-text">
              &nbsp;
              <fa-icon icon="user"></fa-icon>
              &nbsp;
            </span>
            <input class="form-control" type="text" placeholder="Nom et prénom" id="contact-us-name"
              name="contact-us-name">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">
              &nbsp;
              <fa-icon icon="phone"></fa-icon>
              &nbsp;
            </span>
            <input class="form-control" type="text" placeholder="Téléphone" id="contact-us-phone"
              name="contact-us-phone">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">
              &nbsp;
              <fa-icon icon="at"></fa-icon>
              &nbsp;
            </span>
            <input class="form-control" type="email" placeholder="Email" id="contact-us-email" name="contact-us-email">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">
              &nbsp;
              <fa-icon icon="envelope"></fa-icon>
              &nbsp;
            </span>
            <textarea class="form-control" rows="7" id="contact-us-message" name="contact-us-message"></textarea>
          </div>

          <button class="btn btn-contact-us-send" type="submit">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
</section>
