.ste-jzl {
  color: #0474B8;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  word-spacing: 0.2rem;
  line-height: 2rem;
}

.sarl {
  color: #0474B8;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.icon-color {
  color: #0474B8;
  font-weight: bold;
  font-size: larger;
}

.about {
  color: #0474B8;
  font-weight: bold;
}

.phone-item {
  display: inline-block;
  margin-right: 3rem;
}

hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}

/* Shine */
.shine {
  height: 20px;
  width: 60%;
  background-image: radial-gradient(farthest-side at 50% -50%,
      hsla(0, 0%, 0%, 0.5),
      hsla(0, 0%, 0%, 0));
  position: relative;
}

.shine::before {
  height: 1px;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  background-image: linear-gradient(90deg,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.75) 50%,
      hsla(0, 0%, 0%, 0));
}
