<footer class="bg-light text-center text-lg-start">
  <hr class="shine">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">

      <!--Logo and Ste-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <img src="../../../../assets/resources/img/logo.png" width="100" height="100" alt="Logo">
        <br>
        <div>
          <p class="ste-jzl">
            Sté Laboratoire Dentaire JZL
          </p>
          <p class="sarl">
            s.a.r.l
          </p>
        </div>
      </div>

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-left">
        <h3 class="about">ABOUT</h3>
        <hr>
        <div class="container">
          <br>
          <p>
            <fa-icon icon="map-marker-alt" class="icon-color"></fa-icon>
            &nbsp;
            Appt 5, Résidence Fedwa, Rue Ibn Hanbel, Labita Dokkarat - Fès
          </p>
          <br>
          <div>
            <fa-icon icon="phone" class="icon-color"></fa-icon>
            &nbsp;
            <div class="phone-item">05 32 02 96 77</div>
            <div class="phone-item">06 12 06 16 75</div>
            <div class="phone-item">06 79 55 57 85</div>
          </div>
          <br>
          <p>
            <fa-icon icon="at" class="icon-color"></fa-icon>
            &nbsp;
            <a href="mailto:laboratoire.dentaire.jzl@gmail.com">laboratoire.dentaire.jzl@gmail.com</a>
          </p>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a class="text-dark" href="https://www.jzl-lab.com/">www.jzl-lab.com</a>
  </div>
  <!-- Copyright -->
</footer>
