.ste-jzl {
  color: #0474B8;
  font-size: 2rem;
  font-weight: bold;
}

.sarl {
  color: #0474B8;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  margin-right: 4rem;
}

.icon-color {
  color: #0474B8;
  font-weight: bold;
  font-size: larger;
}

.phone-item {
  margin-right: 3rem;
}
