<footer>
  <div class="footer">
    <div class="d-flex justify-content-around row-hl">
      <div class="p-5 item-hl">
        <img src="../../../../assets/resources/img/logo.png" width="100" height="100" alt="Logo">
      </div>
      <div class="p-5 item-hl">
        <span>
          <fa-icon icon="home"></fa-icon>
        </span>
        <span>
          Appt 5, Résidence Fedwa, Rue Ibn Hanbel, Labita Dokkarat - Fès
        </span>
      </div>
      <div class="p-5 item-hl"></div>
      <div class="p-5 item-hl"></div>
      <div class="p-5 item-hl"></div>
    </div>
    <div class="d-flex justify-content-around row-hl">
      <div class="p-5 item-hl">Patente : 13100634</div>
      <div class="p-5 item-hl">RC : 57235</div>
      <div class="p-5 item-hl">I.F : 26172811</div>
      <div class="p-5 item-hl">ICE : 002097174000052</div>
      <div class="p-5 item-hl">CNSS : 1199756</div>
    </div>
  </div>
</footer>
