<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon icon="sign-in-alt"></fa-icon>
      <br>
      Se connecter
    </ng-template>
    <!-- #enddocregion label-directive -->
    <app-public-account-sign-in></app-public-account-sign-in>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon icon="sign-in-alt"></fa-icon>
      <br>
      Créer un compte
    </ng-template>
    <!-- #enddocregion label-directive -->
    <app-public-account-sign-up></app-public-account-sign-up>
  </mat-tab>
</mat-tab-group>
