.tabs-section {
  background-color: white;
  height: 2000px;
}

.tabs-container {
  margin-top: 2rem;
}

.sign-in-tab-label {
  font-size: 1.3rem;
  color: darkblue;
}

.sign-up-tab-label {
  font-size: 1.3rem;
  color: darkgreen;
}

.row-tab {
  width: 100%;
  text-align: center;
  margin-bottom: 0.1rem;
}
