<header class="bg-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="main-nav">
    <div class="container">

      <!-- LOGO -->
      <a href="#home" class="navbar-brand mr-5">
        <img src="../../../../assets/vendors/img/logo.png" width="100" height="100" alt="Logo">
      </a>

      <!-- Toggle button for small screen -->
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- MENU -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link">
              <fa-icon icon="home"></fa-icon>
              &nbsp; Acceil
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">
              <fa-icon icon="tooth"></fa-icon>
              &nbsp; Prestations
            </a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">
              <fa-icon icon="envelope"></fa-icon>
              &nbsp; Contactez-nous
            </a>
          </li>
        </ul>
        <button class="btn btn-outline-primary btn-lg ml-auto" type="button">
          <fa-icon icon="sign-in-alt"></fa-icon> &nbsp; Espace Client
        </button>
      </div>
    </div>
  </nav>
</header>
