  <nav class="navbar navbar-expand-md navbar-light fixed-top py-4" id="main-nav">
    <div class="container">
      <a href="#home" class="navbar-brand">
        <img src="img/mlogo.png" width="50" height="50" alt="Logo">
        <h3 class="d-inline align-middle">Mizuxe</h3>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link">Acceil</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Prestation</a>
          </li>
          <li class="nav-item">
            <a href="#authors" class="nav-link">Meet The Authors</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
        </ul>
        <button class="btn btn-primary btn-lg" type="button">
          <fa-icon icon="coffee"></fa-icon> Connexion
        </button>
      </div>
    </div>
  </nav>
