.navbar-nav li a {
  margin-left: 1.7rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  display: inline-block;
}

.navbar-nav li a:hover,
.navbar-nav li a:active {
  color: #007BFF;
  font-weight: bold;
  border-bottom: 3px solid #007BFF;
  display: inline-block;
}
