<section class="bg-homepage">
  <!-- JUMBOTRON -->
  <div class="jumbotron text-center">
    <h1 class="display-2">Welcome To My Website!</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus perspiciatis cum
      vitae, modi hic?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quibusdam.</p>
  </div>
</section>

<section>
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top img-fluid" src="https://source.unsplash.com/random/300x200" alt="">
      <div class="card-body">
        <h4 class="card-title">Card title that wraps to a new line</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content
          is a little bit longer.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="https://source.unsplash.com/random/300x200" alt="">
      <div class="card-body">
        <h4 class="card-title">Card title that wraps to a new line</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content
          is a little bit longer.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="https://source.unsplash.com/random/300x200" alt="">
      <div class="card-body">
        <h4 class="card-title">Card title that wraps to a new line</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content
          is a little bit longer.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-homepage">
  <!-- JUMBOTRON -->
  <div class="jumbotron text-center">
    <h1 class="display-2">Welcome To My Website!</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus perspiciatis cum
      vitae, modi hic?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quibusdam.</p>
  </div>
</section>
